<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ahemdabad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ahemdabad.css') }}"/>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="heading">
        <h1>AHEMDABAD</h1>
      </div>
      <div class="items">
        <div class="row">
          <div class="item">
            <h2>Restaurant</h2>
            <h3>
              <li>Agashiye - The House of MG, Lal Darwaja, Ahmedabad</li>
              <li>Vishala - Vasna Tol Naka, Vishala Circle, Ahmedabad</li>
              <li>Gordhan Thal - Stadium Circle, Navrangpura, Ahmedabad</li>
              <li>Swati Snacks - Swastik Society, Navrangpura, Ahmedabad</li>
              <li>Toran Dining Hall - Gandhi Road, Ahmedabad</li>
              <li>Rajwadu - Sarkhej - Gandhinagar Highway, Ahmedabad</li>
              <li>Tinello - Hyatt Regency, Ashram Road, Ahmedabad</li>
              <li>Khetla Aapa Tea Stall - Manek Chowk, Ahmedabad</li>
              <li>Honest - Vijay Char Rasta, Navrangpura, Ahmedabad</li>
              <li>The Green House - Ellisbridge, Ahmedabad</li>
            </h3>
          </div>

          <div class="item">
            <h2>Shopping</h2>
            <h3>
              <li>AlphaOne Mall - Vastrapur, Ahmedabad</li>
              <li>Ahmedabad One Mall - Vastrapur, Ahmedabad</li>
              <li>al Darwaja Market - Lal Darwaja, Ahmedabad</li>
              <li>
                Law Garden Night Market - Law Garden Road, Ellisbridge,
                Ahmedabad
              </li>
              <li>Manek Chowk Market - Manek Chowk, Ahmedabad</li>
              <li>Rani no Hajiro - Bhadra, Ahmedabad</li>
              <li>Fernandes Bridge Market - Near Ellisbridge, Ahmedabad</li>
              <li>CG Square Mall - Near Income Tax, Ashram Road, Ahmedabad</li>
              <li>Sindhi Market - Near Paldi Cross Roads, Ahmedabad</li>
              <li>Himalaya Mall - Drive In Road, Gurukul, Ahmedabad</li>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <h2>Attractions</h2>
            <h3>
              <li>Sabarmati Ashram - Gandhi Ashram Road, Ahmedabad</li>
              <li>Kankaria Lake - Maninagar, Ahmedabad</li>
              <li>Sidi Saiyyed Mosque - Bhadra, Ahmedabad</li>
              <li>Adalaj Stepwell - Adalaj, Ahmedabad</li>
              <li>Akshardham Temple - Ghandhinagar Highway, Gandhinagar</li>
              <li>
                Calico Museum of Textiles - Sarabhai Foundation, Shahibaug,
                Ahmedabad
              </li>
              <li>Jama Masjid - Mahatma Gandhi Road, Manek Chowk, Ahmedabad</li>
              <li>Teen Darwaza - Bhadra, Ahmedabad</li>
              <li>Vastrapur Lake - Vastrapur, Ahmedabad</li>
              <li>ISKCON Temple - Satellite Road, Ahmedabad</li>
            </h3>
          </div>
          <div class="item">
            <h2>Hotels</h2>
            <h3>
              <li>
                Courtyard by Marriott Ahmedabad - Ramdevnagar Cross Road,
                Satellite, Ahmedabad
              </li>
              <li>Hyatt Ahmedabad - Vastrapur, Ahmedabad</li>
              <li>
                The Fern - An Ecotel Hotel - Near Sola Overbridge, Sola,
                Ahmedabad
              </li>
              <li>
                Novotel Ahmedabad - ISCON Cross Road, S.G. Highway, Ahmedabad
              </li>
              <li>
                Radisson Blu Hotel Ahmedabad - Panchvati Cross Roads, Off CG
                Road, Ambawadi, Ahmedabad
              </li>
              <li>Lemon Tree Premier - Off Nehru Bridge, Ahmedabad</li>
              <li>
                Fairfield by Marriott Ahmedabad - Sindhu Bhavan Marg, Bodakdev,
                Ahmedabad
              </li>
              <li>Renaissance Ahmedabad Hotel - S.G. Highway, Ahmedabad</li>
              <li>The Ummed Ahmedabad - Airport Circle, Hansol, Ahmedabad</li>
              <li>The House of MG - Lal Darwaja, Ahmedabad</li>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
