<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delhi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='delhi.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>DELHI</h1>
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Indian Accent - The Lodhi, Lodhi Road, New Delhi</li>
                        <li>Bukhara - ITC Maurya, Chanakyapuri, New Delhi</li>
                        <li>Dum Pukht - ITC Maurya, Chanakyapuri, New Delhi</li>
                        <li>Karim's - Jama Masjid, Gali Kababian, Old Delhi</li>
                        <li>Farzi Cafe - Cyber Hub, DLF Cyber City, Gurgaon</li>
                        <li>Garam Dharam - Connaught Place, New Delhi</li>
                        <li>Moti Mahal Delux - Daryaganj, New Delhi</li>
                        <li>Punjab Grill - Select Citywalk Mall, Saket, New Delhi</li>
                        <li>Carnatic Cafe - Greater Kailash (GK) 1, New Delhi</li>
                        <li>Parikrama - Connaught Place, New Delhi</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Chandni Chowk</li>
                        <li>Greater Kailash M Block Market</li>
                        <li>Karol Bagh Market</li>
                        <li>DLF Promenade,Vasant Kunj, South Delhi</li>
                        <li>Ambience Mall, Gurugram</li>
                        <li>DLF Emporio,Vasant Kunj, South Delhi</li>
                        <li>Sarojni Nagar Market</li>
                        <li>Khan Market</li>
                        <li>Janpath Market</li>
                        <li>South Extension Market</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Red Fort (Lal Qila) - Old Delhi</li>
                        <li>Qutub Minar - Mehrauli</li>
                        <li>Humayun's Tomb - Nizamuddin East</li>
                        <li>India Gate - Rajpath, Central Delhi</li>
                        <li>Jama Masjid - Chandni Chowk, Old Delhi</li>
                        <li>Lotus Temple - Kalkaji, South Delhi</li>
                        <li>Akshardham Temple - Noida Mor, East Delhi</li>
                        <li>Jantar Mantar - Connaught Place, Central Delhi</li>
                        <li>National Museum - Janpath, Central Delhi</li>
                        <li>Dilli Haat - INA, South Delhi</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>The Leela Palace New Delhi - Diplomatic Enclave, Chanakyapuri</li>
                        <li>The Oberoi, New Delhi - Dr. Zakir Hussain Marg, New Delhi</li>
                        <li>Taj Palace, New Delhi - Sardar Patel Marg, Diplomatic Enclave</li>
                        <li>The Imperial - Janpath, Connaught Place</li>
                        <li>ITC Maurya, New Delhi - Diplomatic Enclave, Chanakyapuri</li>
                        <li>JW Marriott Hotel New Delhi Aerocity - Asset Area 4, Hospitality District, Aerocity</li>
                        <li>The Claridges - Aurangzeb Road, New Delhi</li>
                        <li>Andaz Delhi - Asset No.1, Aerocity</li>
                        <li>The Le Meridien New Delhi - Windsor Place, Janpath</li>
                        <li>Shangri-La's - Eros Hotel, New Delhi - 19 Ashoka Road, Connaught Place</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
