<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kashmir</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kashmir.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>KASHMIR</h1>
       
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Shamyana Restaurant - Lal Chowk, Srinagar</li>
                        <li>Ahdoos Restaurant - Residency Road, Srinagar</li>
                        <li>Mughal Darbar - Residency Road, Srinagar</li>
                        <li>Stream Restaurant - Boulevard Road, Srinagar</li>
                        <li>14th Avenue Cafe - Munshi Bagh, Srinagar</li>
                        <li>Mughal Durbar - Rajbagh, Srinagar</li>
                        <li>Kareema Restaurant - Residency Road, Srinagar</li>
                        <li>Mummy Please - Lal Chowk, Srinagar</li>
                        <li>Highland Restaurant - Boulevard Road, Srinagar</li>
                        <li>Ahad Sons Restaurant - Residency Road, Srinagar</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Lal Chowk - Srinagar</li>
                        <li>Residency Road - Srinagar</li>
                        <li>Floating Vegetable Market - Dal Lake, Srinagar</li>
                        <li>Pather Market - Pather Masjid Road, Srinagar</li>
                        <li>Boulevard Road - Srinagar</li>
                        <li>Polo View Market - Polo View Road, Srinagar</li>
                        <li>Raghunath Market - Srinagar</li>
                        <li>Flea Market - Gulmarg</li>
                        <li>Char Chinar Market - Dal Lake, Srinagar</li>
                        <li>Srinagar Haat - Dalgate, Srinagar</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Dal Lake - Srinagar</li>
                        <li>Shankaracharya Temple - Shankaracharya Hill, Srinagar</li>
                        <li>Nishat Bagh - Srinagar</li>
                        <li>Shalimar Bagh - Srinagar</li>
                        <li>Gulmarg Gondola - Gulmarg</li>
                        <li>Mughal Gardens - Srinagar</li>
                        <li> Pari Mahal - Zabarwan Range, Srinagar</li>
                        <li>Hazratbal Shrine - Hazratbal, Srinagar</li>
                        <li> Wular Lake - Bandipora</li>
                        <li>Betaab Valley - Pahalgam</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>Vivanta Dal View - Kralsangri, Srinagar</li>
                        <li>The Lalit Grand Palace Srinagar - Gupkar Road, Srinagar</li>
                        <li>Heevan Resort - Nishat, Srinagar</li>
                        <li>The Khyber Himalayan Resort & Spa - Gulmarg</li>
                        <li>The Orchard Retreat & Spa - Pahalgam</li>
                        <li>Nedou's Hotel - Boulevard Road, Srinagar</li>
                        <li>Hotel Dar-Es-Salam - Dalgate, Srinagar</li>
                        <li>Hotel Pine Spring - Near Gandola, Gulmarg</li>
                        <li>Hotel Grand Habib - Zero Bridge, Rajbagh, Srinagar</li>
                        <li>Hotel Mountview - Srinagar</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>


 



