<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lakshadweep</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lakshadweep.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>LAKSHADWEEP</h1>
        
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Agatti Island Beach Resort Restaurant - Agatti Island, Lakshadweep</li>
                        <li>Bangaram Island Resort Restaurant - Bangaram Island, Lakshadweep</li>
                        <li>Thalassery Restaurant - Kavaratti, Lakshadweep</li>
                        <li>Sea Shells Restaurant - Kadmat Island, Lakshadweep</li>
                        <li>Kalapathar Restaurant - Kalpeni Island, Lakshadweep</li>
                        <li>Seagulls Restaurant - Minicoy Island, Lakshadweep</li>
                        <li>Turtle Inn Restaurant - Andrott Island, Lakshadweep</li>
                        <li>Blue Ocean Restaurant - Amini Island, Lakshadweep</li>
                        <li>Coral Beach Restaurant - Chetlat Island, Lakshadweep</li>
                        <li>Paradise Restaurant - Bitra Island, Lakshadweep</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Kavaratti Island Handicrafts Market - Kavaratti Island, Lakshadweep</li>
                        <li>Kadmat Island Handloom Emporium - Kadmat Island, Lakshadweep</li>
                        <li>Kalpeni Island Souvenir Shops - Kalpeni Island, Lakshadweep</li>
                        <li>Minicoy Island Bazaar - Minicoy Island, Lakshadweep</li>
                        <li>Agatti Island Flea Market - Agatti Island, Lakshadweep</li>
                        <li>Andrott Island Local Market - Andrott Island, Lakshadweep</li>
                        <li>Amini Island Shopping Center - Amini Island, Lakshadweep</li>
                        <li>Chetlat Island Crafts Market - Chetlat Island, Lakshadweep</li>
                        <li>Bitra Island Handicrafts Store - Bitra Island, Lakshadweep</li>
                        <li>Suheli Par Island Shopping Arcade - Suheli Par Island, Lakshadweep</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Agatti Island Beach - Agatti Island, Lakshadweep</li>
                        <li>Bangaram Island - Bangaram Island, Lakshadweep</li>
                        <li>Kavaratti Island Lagoon - Kavaratti Island, Lakshadweep</li>
                        <li>Kadmat Island Coral Reef - Kadmat Island, Lakshadweep</li>
                        <li>Kalpeni Island Light House - Kalpeni Island, Lakshadweep</li>
                        <li>Minicoy Island Lighthouse - Minicoy Island, Lakshadweep</li>
                        <li>Andrott Island Mosque - Andrott Island, Lakshadweep</li>
                        <li>Amini Island Shipwreck Site - Amini Island, Lakshadweep</li>
                        <li>Chetlat Island Bird Sanctuary - Chetlat Island, Lakshadweep</li>
                        <li>Bitra Island Shipyard - Bitra Island, Lakshadweep</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>Agatti Island Beach Resort - Agatti Island, Lakshadweep</li>
                        <li>Bangaram Island Resort - Bangaram Island, Lakshadweep</li>
                        <li>Kavaratti Island Beach Resort - Kavaratti Island, Lakshadweep</li>
                        <li>Kadmat Beach Resort - Kadmat Island, Lakshadweep</li>
                        <li>Kalpeni Beach Resort - Kalpeni Island, Lakshadweep</li>
                        <li>Minicoy Island Beach Resort - Minicoy Island, Lakshadweep</li>
                        <li>Andrott Island Beach Resort - Andrott Island, Lakshadweep</li>
                        <li>Amini Island Beach Resort - Amini Island, Lakshadweep</li>
                        <li>Chetlat Island Beach Resort - Chetlat Island, Lakshadweep</li>
                        <li>Bitra Island Beach Resort - Bitra Island, Lakshadweep</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>

