<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lucknow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lucknow.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>LUCKNOW</h1>
       
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Tunday Kababi - Chowk, Lucknow</li>
                        <li>Royal Cafe - Hazratganj, Lucknow</li>
                        <li>Dastarkhwan - Lalbagh, Lucknow</li>
                        <li>Oudhyana - Vivanta by Taj, Gomti Nagar, Lucknow</li>
                        <li>Falaknuma - Taj Mahal, Vipin Khand, Gomti Nagar, Lucknow</li>
                        <li>The Urban Terrace - Hotel Renaissance Lucknow, Gomti Nagar, Lucknow</li>
                        <li>Sepia - Renaissance Lucknow Hotel, Vipin Khand, Gomti Nagar, Lucknow</li>
                        <li>Botanical - Vivanta by Taj, Gomti Nagar, Lucknow</li>
                        <li>Vintage Machine - Lalbagh, Lucknow</li>
                        <li>Royal Sky - Charans Plaza, Hazratganj, Lucknow</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Hazratganj Market - Hazratganj, Lucknow</li>
                        <li>Janpath Market - Hazratganj, Lucknow</li>
                        <li>Aminabad Market - Aminabad, Lucknow</li>
                        <li>Bhootnath Market - Indira Nagar, Lucknow</li>
                        <li>Sahara Ganj Mall - Shahnajaf Road, Hazratganj, Lucknow</li>
                        <li>Phoenix United Mall - Alambagh, Lucknow</li>
                        <li>Fun Republic Mall - Gomti Nagar, Lucknow</li>
                        <li>Wave Mall - Vibhuti Khand, Gomti Nagar, Lucknow</li>
                        <li>Riverside Mall - Vipin Khand, Gomti Nagar, Lucknow</li>
                        <li>Singapore Mall - Gomti Nagar, Lucknow</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Bara Imambara - Hussainabad, Lucknow</li>
                        <li>Chota Imambara - Hussainabad, Lucknow</li>
                        <li>Rumi Darwaza - Hussainabad, Lucknow</li>
                        <li>British Residency - Mahatma Gandhi Marg, Lucknow</li>
                        <li>Lucknow Zoo - Nawal Kishore Road, Butler Colony, Lucknow</li>
                        <li>State Museum Lucknow - Bans Mandi, Charbagh, Lucknow</li>
                        <li>Ambedkar Memorial Park - Gomti Nagar, Lucknow</li>
                        <li>Chattar Manzil - Qaiserbagh, Lucknow</li>
                        <li>Dr. Ram Manohar Lohia Park - Gomti Nagar, Lucknow</li>
                        <li>Regional Science City - B Block, Indira Nagar, Lucknow</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>Taj Mahal, Lucknow - Vipin Khand, Gomti Nagar, Lucknow</li>
                        <li>Renaissance Lucknow Hotel - Vipin Khand, Gomti Nagar, Lucknow</li>
                        <li>Hyatt Regency Lucknow - Vibhuti Khand, Gomti Nagar, Lucknow</li>
                        <li>Novotel Lucknow Gomti Nagar - Gomti Nagar, Lucknow</li>
                        <li>Fairfield by Marriott Lucknow - Opposite Indira Gandhi Pratishthan, Vibhuti Khand,Lucknow</li>
                        <li>Vivanta by Taj - Gomti Nagar, Lucknow</li>
                        <li>Lebua Lucknow - Saraca Estate, Nadan Mahal Road, Lucknow</li>
                        <li>Radisson Lucknow City Center - Cantonment Road, Burlington, Lucknow</li>
                        <li>Lemon Tree Hotel, Lucknow - Nehru Enclave, Ashiyana, Lucknow</li>
                        <li>Hilton Garden Inn Lucknow - Gomti Nagar, Lucknow</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

