<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mumbai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mumbai.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>MUMBAI</h1>
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Trishna - Fort, Mumbai</li>
                        <li>The Bombay Canteen - Lower Parel, Mumbai</li>
                        <li>Gajalee - Vile Parle East, Mumbai</li>
                        <li>Britannia & Co. - Ballard Estate, Mumbai</li>
                        <li>Peshawri - Colaba, Mumbai</li>
                        <li>Leopold Cafe - Colaba, Mumbai</li>
                        <li>Masala Library by Jiggs Kalra - Bandra Kurla Complex, Mumbai</li>
                        <li>Haji Ali Juice Centre - Haji Ali, Mumbai</li>
                        <li>Bastian - Bandra West, Mumbai</li>
                        <li>The Table - Colaba, Mumbai</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Colaba Causeway - Colaba</li>
                        <li>Linking Road - Bandra</li>
                        <li>Crawford Market - Fort</li>
                        <li>Hill Road - Bandra</li>
                        <li>Fashion Street - Marine Lines</li>
                        <li>Phoenix Marketcity - Kurla</li>
                        <li>High Street Phoenix - Lower Parel</li>
                        <li>Lokhandwala Market - Andheri</li>
                        <li>Zaveri Bazaar - Kalbadevi</li>
                        <li>Chor Bazaar - Bhendi Bazaa</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Gateway of India - Apollo Bandar, Colaba, Mumbai</li>
                        <li>Marine Drive - Netaji Subhash Chandra Bose Road, Mumbai</li>
                        <li>Chhatrapati Shivaji Maharaj Vastu Sangrahalaya - Mahatma Gandhi Road, Kala Ghoda, Mumbai</li>
                        <li>Elephanta Caves - Elephanta Island, Mumbai Harbour</li>
                        <li>Siddhivinayak Temple - SK Bole Marg, Prabhadevi, Mumbai</li>
                        <li>Haji Ali Dargah - Dargah Rd, Haji Ali, Mumbai</li>
                        <li>Juhu Beach - Juhu Tara Road, Juhu, Mumbai</li>
                        <li>Colaba Causeway - Shahid Bhagat Singh Road, Colaba, Mumbai</li>
                        <li>Sanjay Gandhi National Park - Western Express Highway, Borivali East, Mumbai</li>
                        <li>Chor Bazaar - Mutton Street, Kumbharwada, Mumbai</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>The Taj Mahal Palace - Apollo Bunder, Colaba, Mumbai</li>
                        <li>The Oberoi Mumbai - Nariman Point, Mumbai</li>
                        <li>Trident, Nariman Point - Nariman Point, Mumbai</li>
                        <li>The Leela Mumbai - Sahar, Andheri East, Mumbai</li>
                        <li>JW Marriott Mumbai Juhu - Juhu Tara Road, Juhu, Mumbai</li>
                        <li>Grand Hyatt Mumbai Hotel & Residences - Off Western Express Highway, Santacruz East, Mumbai</li>
                        <li>Taj Lands End - Bandstand, Bandra West, Mumbai</li>
                        <li>ITC Grand Central, Mumbai - Dr Babasaheb Ambedkar Road, Parel, Mumbai</li>
                        <li>Sofitel Mumbai BKC - Bandra Kurla Complex, Bandra East, Mumbai</li>
                        <li>Four Seasons Hotel Mumbai - Dr E. Moses Road, Worli, Mumbai</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>

