<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>puducherry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='puducherry.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>PUDUCHERRY</h1>
       
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>Villa Shanti - Suffren Street, White Town, Puducherry</li>
                        <li>Le Dupleix - Rue de la Caserne, White Town, Puducherry</li>
                        <li>Cafe des Arts - Surcouf Street, White Town, Puducherry</li>
                        <li>Satsanga - Surcouf Street, White Town, Puducherry</li>
                        <li>Rendezvous - Rue Suffren, White Town, Puducherry</li>
                        <li>La Maison Rose - Rue Romain Rolland, White Town, Puducherry</li>
                        <li>Appachi Chettinad Restaurant - Mission Street, Heritage Town, Puducherry</li>
                        <li>Tanto Pizzeria - Mission Street, Heritage Town, Puducherry</li>
                        <li>Surguru - Jawaharlal Nehru Street, Puducherry</li>
                        <li>Cafe Xtasi - Mission Street, Heritage Town, Puducherry</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>Mission Street - Heritage Town, Puducherry</li>
                        <li>Nehru Street - White Town, Puducherry</li>
                        <li>Goubert Market - Near Beach Road, Puducherry</li>
                        <li>Casablanca - Rue de la Caserne, White Town, Puducherry</li>
                        <li>Kalki - MG Road, Puducherry</li>
                        <li>La Boutique d'Auroville - Kuilapalayam Road, Auroville, Puducherry</li>
                        <li>Cluny Embroidery Centre - Cluny Embroidery Centre, Rue Romain Rolland, Puducherry</li>
                        <li>Anokhi - Caserne Street, White Town, Puducherry</li>
                        <li>Zuka Choco-la - Romain Rolland Street, White Town, Puducherry</li>
                        <li>Auroville Main Road - Auroville, Puducherry</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Auroville - Auroville, Tamil Nadu</li>
                        <li>Paradise Beach - Chunnambar Boat House Road, Puducherry</li>
                        <li>Sri Aurobindo Ashram - Marine Street, Puducherry</li>
                        <li>Promenade Beach - Goubert Avenue, White Town, Puducherry</li>
                        <li>Auroville Beach - Auroville, Puducherry</li>
                        <li>French War Memorial - Goubert Avenue, White Town, Puducherry</li>
                        <li>Basilica of the Sacred Heart of Jesus - MG Road, Puducherry</li>
                        <li>Chunnambar Boat House - Cuddalore Main Road, Puducherry</li>
                        <li>Botanical Garden - Maraimalai Adigal Salai, Puducherry</li>
                        <li>Ousteri Lake - Villupuram Main Road, Puducherry</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>Le Pondy Beach and Lake Resort - Nallvadu Post, Pudukuppam, Puducherry</li>
                        <li>Palais de Mahe - Bussy Street, White Town, Puducherry</li>
                        <li>The Promenade - Goubert Avenue, White Town, Puducherry</li>
                        <li>La Villa - Romain Rolland Street, White Town, Puducherry</li>
                        <li>Le Royal Park - Kamaraj Salai, Puducherry</li>
                        <li>Accord Puducherry - Sardar Vallabhbhai Patel Road, Puducherry</li>
                        <li>Shenbaga Hotel & Convention Centre - Kamaraj Salai, Puducherry</li>
                        <li>Hotel Annamalai International - Kamaraj Salai, Puducherry</li>
                        <li>Hotel Atithi - Rangapillai Street, Puducherry</li>
                        <li>Hotel de l'Orient - Rue Romain Rolland, White Town, Puducherry</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>

