<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sikkim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sikkim.css') }}">
</head>
<body>
    <div class="background">
    </div>
    <div class="content">
        <div class="heading">
            <h1>SIKKIM</h1>
       
        </div>
        <div class="items">
            <div class="row">
                <div class="item"><h2>Restaurant</h2>
                    <h3>
                        <li>The Dragon Wok - Hotel Nor-Khill, Paljor Stadium Rd, Gangtok</li>
                        <li>Taste of Tibet - MG Marg, Arithang, Gangtok</li>
                        <li>The Square - Development Area, Gangtok</li>
                        <li>Parivar Restaurant - MG Marg, Vishal Gaon, Gangtok</li>
                        <li>Baker's Cafe - Near Tashi View Point, Tadong, Gangtok</li>
                        <li>Roll House - Deorali Taxi Stand, Gangtok</li>
                        <li>The Coffee Shop - Mayfair Spa Resort & Casino, Lower Samdur Block, Ranipool, Gangtok</li>
                        <li>Rasoi - MG Marg, Arithang, Gangtok</li>
                        <li>Mu Kimchi - Tibet Road, Gangtok</li>
                        <li>Taste of Tibet - MG Marg, Gangtok</li>
                    </h3>
                </div>

                <div class="item"><h2>Shopping</h2>
                    <h3>
                        <li>MG Marg - Gangtok</li>
                        <li>Lal Bazaar - Gangtok</li>
                        <li>Old Market - Gangtok</li>
                        <li>New Market - Gangtok</li>
                        <li>Directorate of Handicrafts & Handlooms - Kazi Road, Gangtok</li>
                        <li>Tsomgo Market - NH10, Tadong, Gangtok</li>
                        <li>Lal Market - Near Lal Bazaar, Gangtok</li>
                        <li>Manju-Ka-Tilla - Tibet Road, Gangtok</li>
                        <li>Banjhakri Falls Market - Gangtok</li>
                        <li>Sikkim Government Handicraft Emporium - MG Marg, Gangtok</li>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item"><h2>Attractions</h2>
                    <h3>
                        <li>Rumtek Monastery - Dharma Chakra Centre, Gangtok</li>
                        <li>Tsomgo Lake - Gangtok-Nathula Road, Gangtok</li>
                        <li>Nathula Pass - Indo-China Border, Gangtok</li>
                        <li>Baba Harbhajan Singh Memorial Temple - Nathula Pass, Gangtok</li>
                        <li>Ranka Monastery - Lingdum, Gangtok</li>
                        <li>Banjhakri Falls and Energy Park - Gangtok</li>
                        <li>Hanuman Tok - Gangtok-Ranka Road, Gangtok</li>
                        <li>Ganesh Tok - Gangtok-Nathula Road, Gangtok</li>
                        <li>Enchey Monastery - Gangtok</li>
                        <li>Tashi View Point - Gangtok-Nathula Road, Gangtok</li>
                    </h3>
                </div>
                <div class="item"><h2>Hotels</h2>
                    <h3>
                        <li>Mayfair Spa Resort & Casino - Lower Samdur Block, Ranipool, Gangtok</li>
                        <li>The Elgin Nor-Khill - Paljor Stadium Rd, Gangtok</li>
                        <li>Summit Denzong Hotel & Spa - NH 10, Cherry Banks, Gangtok</li>
                        <li>The Royal Plaza - Upper Syari, Deorali, Gangtok</li>
                        <li>Lemon Tree Hotel - Opposite Sikkim Manipal University, Tadong, Gangtok</li>
                        <li>Central Hill Resort - Development Area, Gangtok</li>
                        <li>Hotel Mount Siniolchu - Palzor Stadium Road, Gangtok</li>
                        <li>Hotel Dew Pond - Bojoghari, Gangtok</li>
                        <li>The Golden Crest - Development Area, Gangtok</li>
                        <li>Tara Palace - Tibet Road, Gangtok</li>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>

</html>
